---
import Layout from "../layouts/Layout.astro"
import ProfileImage from "../assets/juan-profile.jpg"
import { Image } from "astro:assets"
import GithubLogo from "../assets/icons/GithubLogo.astro"
import LinkedinLogo from "../assets/icons/LinkedinLogo.astro"
import ThemeSwitch from "../components/ThemeSwitch.tsx"

const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/lunajuan",
    Icon: GithubLogo,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/juanlunaramirez",
    Icon: LinkedinLogo,
  },
]
---

<Layout>
  <div
    class="w-full h-full flex flex-col items-center lg:justify-center p-4 py-20 overflow-y-auto"
  >
    <div
      class="max-w-prose mx-auto flex flex-col items-center justify-center gap-4 px-10 py-12 pt-32 border border-neutral-200 dark:border-neutral-800 rounded-2xl shadow-lg relative mt-20"
    >
      <h1 class="text-2xl font-bold">Juan Luna Ramirez</h1>
      <p>
        I'm a full-stack developer in focused on building high-performance
        applications & solving complex problems. You can find more about me at
        the following places.
        <div class="flex gap-8">
          {
            socialLinks.map(({ name, url, Icon }) => (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-1 p-2"
              >
                {Icon && <Icon className="w-6 h-6" />}
                {name}
              </a>
            ))
          }
        </div>
      </p>
      <div
        class="__hero-pattern bg-neutral-100 dark:bg-neutral-900 absolute inset-0 -z-10 rounded-2xl"
      >
      </div>
      <Image
        src={ProfileImage}
        alt="Juan Luna Ramirez's profile picture"
        class="w-52 rounded-full mb-2 border-8 border-neutral-200 dark:border-neutral-800 absolute -top-24 left-1/2 -translate-x-1/2"
      />
    </div>

    <ThemeSwitch
      client:load
      className="fixed bottom-2 right-2 sm:bottom-4 sm:right-4 md:bottom-6 md:right-6"
    />
  </div>
</Layout>
